<ion-content>


  <ion-slides class="mainSlide" #loginSlide>

    <ion-slide>

      <form (ngSubmit)="login(flogin)" #flogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" 
                  [(ngModel)]="loginUser.email"
                  required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="loginUser.password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>

    </ion-slide>

    <ion-slide >

      <ion-grid fixed>

        <!-- *** Avatar selector *** -->
        <app-avatar-selector (avatarSel)="registerUser.avatar = $event"></app-avatar-selector>
        

        <form (ngSubmit)="registro(fregistro)" #fregistro="ngForm">
          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="registerUser.email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="registerUser.nombre"  required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="registerUser.password"  required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>


    </ion-slide>


  </ion-slides>

</ion-content>


<ion-footer no-border>
  <ion-toolbar>

    <ion-row>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary"
          (click)="cambiaALogin()">
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary"
        (click)="cambiaARegistro()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-footer>