<ion-content>


  <ion-slides class="mainSlide" #loginSlide>

    <ion-slide>

      <form (ngSubmit)="login(flogin)" #flogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password" type="password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>

    </ion-slide>

    <ion-slide>

      <ion-grid fixed>

        <ion-row>
          <ion-col>
            <h3>Seleccione Avatar</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-slides [options]="avatarSlide">
              <ion-slide *ngFor="let avatar of avatars">
                <ion-img class="pick-avatar" src="/assets/avatars/{{ avatar.img }}"
                          [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"
                          (click)="seleccionarAvatar(avatar)"></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>

        <form (ngSbmit)="registro(fregistro)" #fregistro="ngForm">
          <ion-row>
            <ion-col>

              <ion-list>

                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-input name="nombre" type="text" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password" type="password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-grid>


    </ion-slide>


  </ion-slides>


</ion-content>


<ion-footer no-border>
  <ion-toolbar>

    <ion-row>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary"
          (click)="cambiaSlide('login')">
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round" expand="full" size="small" fill="outline" color="tertiary"
        (click)="cambiaSlide('registro')">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>