<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      Fotosgram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <!-- Refresher  -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- Posts  -->
  <app-posts [posts]="posts"></app-posts>


  <!-- Infinit scroll   -->
  <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="siguientes($event)" [disabled]="!infScrHabilitado">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más entradas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
